@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&family=Merienda:wght@400;500;600&display=swap');
@font-face {
  font-family: "poppins";
  src: url("/fonts/SVN-Poppins-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "poppins";
  src: url("/fonts/SVN-Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "poppins";
  src: url("/fonts/SVN-Poppins-Bold.otf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: 'Merienda', cursive;
  --font-para: 'poppins', 'Manrope';
  --main-black: #000000;
  --main-org: #FF5300;
  --main-gray: #475467;
  --main-linear: linear-gradient(92.98deg, #FFB6CC -36.92%, #FF5300 82.85%);
}
html {
  background-color: #EFEFEF;
}
.color-org {
  color: var(--main-org);
}
.color-gra {
  color: var(--main-gray);
}
.font-heading {
  font-family: var(--font-heading);
}
.font-para {
  font-family: var(--font-para);
}
.path {
  stroke-dasharray: 0 1000;
  animation: dash 3s linear 1;
  animation-fill-mode: forwards;
}

@keyframes dash {
  from {
    stroke-dasharray: 0 1000; /* zero-length stroke, 
                                 1000-length gap */
  }
  to {
    stroke-dasharray: 1000 0;/* 1000-length stroke, 
                                 zero-length gap */
  }
}